body{
    font-family: 'Poppins', sans-serif;
    background-color: #007a80;
    /* background-color: #50B9B0; */
    height: 100vh;
}
h1,h2,h3,h4,h5,h6,p,label{
    margin-bottom: 0px;
    margin-top: 0px;
}
.content div:focus{
    outline: none!important;
}
ul{
    list-style: none;
    padding-left: 0px;
}
.logo{
    width: 350px;
    margin: 0px auto;
}
.logo img{
    width: 100%;
    height: 100%;
}
.header{
    text-align: center;
}
.header h2{
    padding-top: 20px;
    color:#fff;
    font-size: 40px;
    font-weight: 600;
}
.load{
    text-align: center;
    margin:0px auto;   
    width: 300px; 
    height: 200px;
}
.load img{
    width: 100%;
    height: 100%;

}
.contact{
    padding-top: 50px;
}
.contact .head{
    display: flex;
    justify-content: space-around;
}
.contact .head h1{
    color:#fff;
    font-size: 30px;
    font-weight: 600;

}
.contact .head h1 span{
    font-size: 24px;
}
.content{
   width: 90%;
   margin: 0px auto;
   text-align: center;
   margin-top: 50px;
   position: relative;
}
.contact .img{
    display: flex;
    justify-content: center;
}
.content span{
    display: inline-block;
    vertical-align: middle;
}
.content h2{
    font-size: 24px;
    color: #42B0F8;
    padding: 40px 0px;
    display: inline-block;
}
.slick-arrow{
    position: absolute;
    top:40px;
    z-index: 999;
    cursor: pointer;
}
.slick-arrow.slick-left{
    left: -5%;
}
.slick-arrow.slick-right{
    right: -5%;
}
.slick-arrow img{
    width: 30px;
}
.opening{
    padding: 30px 0px;
}
.opening h2{
    color:#ED3833;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.logo-section{
    padding: 40px 15px;
}
.logo-section h2{
    color:#fff;
    text-align: center;
    font-size: 30px;
}
.logo-section-img {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.logo-section-img .logo-img{
    width: 15%;
    height: 150px;
    border: 1px solid #fff;
    padding: 20px;
}
.logo-section-img .logo-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logo-section-img.second .logo-img{
    width: 18%;
}
.logo-section-img.second{
    width: 83%;
    margin: 0px auto;
    margin-top: 50px;
}
.bike-images-section{
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    margin-top: 40px;
}
.bike-images{
    width: 30%;
    height: 250px;
}
.bike-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 767px) {
    .logo{
        width: 200px;
    }
    .header h2{
        font-size: 20px;
        line-height: 30px;
    }
    .content{
        margin-top: 0px;
    }
    .content h2{
        font-size: 14px;
        padding: 40px 20px;
    }
    .opening {
        padding: 0px;
    }
    .opening h2{
        font-size: 30px;
    }
    .logo-section h2{
        font-size: 18px;
    }
    .logo-section-img{
       flex-wrap: wrap;
    }
    .logo-section-img .logo-img{
        width: 48%;
        height: 100px;
        padding: 15px;
        margin-bottom: 20px;
    }
    .logo-section-img.second{
        width: 100%;
        margin-top: 0px;
        flex-direction: column;
    }
    .logo-section-img.second .logo-img{
        width: 100%;
    }
    .contact{
        padding-top: 0px;
    }
    .contact .head h1{
        font-size: 18px;
    }
    .contact .head h1 span{
        font-size: 16px;
    }
    .contact .img{
        width: 80%;
        margin: 0px auto;
        height: 200px;
    }
    .contact img{
        width: 100%;
        object-fit: contain;
        height: 100%;
    }
    .header h2 span img{
        width: 50px;
    }
    .content h2 span img{
        width: 50px;
    }
    .bike-images-section{
        padding: 0px 20px;
        margin-top: 0px;
        flex-direction: column;
    }
    .bike-images{
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
    .logo-section-img{
        margin-top: 0px;
    }
    .logo-section h2{
        padding-bottom: 30px;
    }
    .logo-section{
        padding-top: 0px;
    }
}